* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f7f7f9;
  width: fit-content;
  height: auto;
}

/* Mobile version */
@media only screen and (max-width: 480px) {
  body {
    margin: 0;
    background-color: #f7f7f9;
    height: auto;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* main {
    max-width: 480px;
    margin: auto;
  } */

  .dmenu,
  .snap1,
  .snap2,
  .heading3,
  .heading4 {
    display: none;
  }

  .home {
    background-color: #fff;
    width: 100%;
    height: 718px;
    border-bottom-left-radius: 10%;
  }

  .toolbar {
    width: 100%;
    display: flex;
    padding-left: 3%;
    padding-bottom: 0;
  }

  .menu {
    display: flex;
    align-items: flex-end;
    padding-left: 810%;
  }

  .headline {
    background: url("images2/header-shapes\ mobile@2x.svg") no-repeat;
    max-width: 100%;
    height: 587.15px;
    background-size: 99% 98%;
    background-position: 100%;
    margin-bottom: 0;
    padding-bottom: 110%;
    margin-top: 5%;
    margin-left: 0;
  }

  .hea {
    padding-top: 20%;
    padding-left: 6%;
    padding-right: 2%;
  }

  .heading {
    width: 90%;
    font-weight: 700;
    font-size: 300%;
    color: #172b4d;
    line-height: 110%;
  }

  .paragraph,
  .p,
  .par {
    font-family: "Poppins", sans-serif;
    width: 95%;
    font-weight: 400;
    font-size: 120%;
    line-height: 135%;
    padding-left: 6%;
    padding-right: 7%;
    padding-top: 5%;
    color: #344563;
  }

  .connect1,
  .connect {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500.24;
    padding-left: 6%;
    padding-top: 3%;
    color: #7f8cff;
  }

  .contact1,
  .contact {
    width: 100%;
    height: 3%;
    margin: 0;
    padding-left: 6%;
    padding-top: 1%;
    margin-top: 1%;
    display: inline-flex;
    align-items: baseline;
    list-style-type: none;
  }

  .twitter1,
  .twitter {
    width: 55%;
    color: #505f79;
  }

  .linkedin1,
  .linkedin {
    width: 55%;
    color: #505f79;
  }

  .email1,
  .email {
    width: 55%;
    color: #505f79;
  }

  .github1,
  .github {
    width: 55%;
    color: #505f79;
  }

  .vector1,
  .vector {
    width: 55%;
    color: #505f79;
  }

  .projects {
    align-self: center;
  }

  .project {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
  }

  .project1,
  .project2,
  .project3,
  .project4 {
    height: 50%;
    padding: 4%;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background-color: #fff;
    margin-top: 29%;
  }

  .snap {
    width: 96%;
    height: 50%;
    padding: 0;
    border-radius: 8px;
    margin: 2%;
  }

  .heading1,
  .heading2 {
    width: 85%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 150%;
    line-height: 180%;
    color: #172b4d;
    text-align: left;
    padding-left: 2%;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 20%;
    padding-top: 2%;
    margin-left: 3%;
  }

  .canopy,
  .end1,
  .end {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 95%;
    color: #344563;
    width: 50%;
    height: 15%;
    list-style-type: none;
  }

  .end1,
  .end {
    width: 66%;
    color: #7a869a;
    list-style: disc;
  }

  .end {
    width: 50%;
  }

  .p {
    padding-left: 3%;
  }

  .ht,
  .ssc,
  .sj {
    width: 97%;
    height: 80%;
    display: flex;
    align-items: center;
    background-color: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    border: 0;
    font-size: 90%;
    font-weight: 500;
    color: #6070ff;
  }

  .ssc,
  .sj {
    margin-left: 15%;
  }

  .butto {
    display: flex;
    padding-inline-start: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    padding-left: 3%;
  }

  .pro1 {
    border: 1px solid #6070ff !important;
    border-radius: 8px !important;
    width: 35% !important;
    height: 48px !important;
    margin-top: 2% !important;
    margin-left: 2% !important;
    color: #396df2 !important;
    background-color: #fff !important;
    font-size: 110% !important;
  }

  .aboutself {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-top-right-radius: 90px;
    margin-top: 120px;
    height: 1300px;
  }

  .about {
    font-family: 'Poppins', sans-serif;
    font-size: 200%;
    line-height: 180%;
    font-weight: 700;
    color: #172b4d;
    width: 90%;
    height: 101px;
    padding-top: 30%;
    padding-left: 6%;
    display: flex;
    align-items: center;
  }

  .par {
    padding-top: 15%;
  }

  .connect {
    font-size: 130%;
  }

  .contact {
    width: 300%;
    margin-top: 4%;
  }

  .twitter,
  .linkedin,
  .email,
  .github,
  .vector {
    width: 60%;
  }

  .twitter {
    margin-left: 70%;
  }

  .linkedin {
    margin-left: 40%;
  }

  .email {
    margin-left: 70%;
  }

  .vector {
    margin-left: 70%;
  }

  .resume {
    display: flex;
    align-items: center;
    width: 45%;
    height: 5%;
    border: 1px solid #6070ff;
    border-radius: 7px;
    background-color: #fff;
    color: #396df2;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    padding: 5%;
    letter-spacing: 00.03em;
    margin-top: 5%;
    margin-left: 6%;
  }

  .language {
    padding-left: 6%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 150%;
    color: #000;
    display: flex;
    width: 45%;
    height: 24px;
    padding-top: 25px;
    list-style-type: none;
  }

  .dropdown {
    width: 3.5%;
    color: #5e6c84;
    display: inline-flex;
    align-items: flex-end;
    margin-left: 90%;
  }

  .language-list {
    display: block;
  }

  .ellip {
    list-style-type: none;
  }

  .ellipse,
  .ellipse2,
  .ellipse3 {
    display: inline-flex;
    align-items: center;
    padding-left: 3%;
    background-color: #f7f7f9;
    width: 90%;
    height: 66.72px;
    border-radius: 8px;
    margin-top: 6%;
    margin-left: 6%;
  }

  .ellipse2,
  .ellipse3 {
    margin-top: 2%;
  }

  .skills {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 150%;
    width: 50%;
    height: 24px;
    list-style-type: none;
  }

  .frame {
    display: inline-flex;
    align-items: center;
    width: 90%;
    height: 66.72px;
    margin-top: 5%;
    margin-left: 6%;
  }

  .drop {
    display: inline-flex;
    margin-left: 50%;
  }

  hr {
    margin-left: 6%;
    margin-right: 6%;
  }

  .pro1:enabled,
  .resume:enabled {
    background: #fff;
    color: #6070ff;
  }

  .pro1:hover,
  .resume:hover {
    background: #6070ff;
    color: #fff;
  }

  .pro1:active,
  .resume:active {
    background: #2230d2;
    color: #fff;
  }

  .pro1:disabled,
  .resume:disabled {
    border: 1px solid #c1c7d0;
    color: #5e6c84;
  }

  .Contact {
    width: 100%;
    height: 780px;
    background-color: #6070ff;
    margin-top: -25%;
    border-top-left-radius: 90px;
    background-image: url("images2/contact\ form\ shapes-mobile@2x.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .contact-heading {
    color: #fff;
    font-weight: 700;
    font-size: 250%;
    padding-left: 20%;
    padding-top: 103px;
  }

  .contact-message {
    width: 95%;
    height: 102px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 130%;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    padding-left: 6%;
    padding-top: 4%;
  }

  .form_content {
    display: flex;
    flex-direction: column;
  }

  input[type=text],
  input[type=email],
  textarea {
    width: 85%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
    background-color: #fff;
    padding-left: 6%;
    margin-top: 15%;
    margin-left: 7%;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 130%;
    color: #172b4d;
  }

  input[type=email],
  textarea {
    margin-top: 1%;
  }

  textarea {
    height: 170px;
  }

  .submit {
    text-align: center;
    width: 30%;
    height: 48px;
    padding: 2%;
    margin-left: 7%;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    cursor: pointer;
    font-size: 110%;
    font-weight: 500;
    color: #396df2;
    letter-spacing: 00.03em;
    border: 1px solid #6070ff;
  }

  .submit:enabled {
    background: #fff;
    color: #6070ff;
  }

  .submit:hover {
    background-color: #6070ff;
    color: #fff;
    border: 0.5px solid #c0c0c0;
  }

  .submit:active {
    background-color: #2230d2;
    color: #fff;
  }

  .submit:disabled {
    border: 1px solid #c1c7d0;
    color: #5e6c84;
  }
}
