* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f7f7f9;
  width: fit-content;
  height: auto;
}

/* Mobile version */
@media only screen and (max-width: 480px) {
  /* .projects {
    align-self: center;
  }

  .project {
    display: flex;
    flex-direction: column;
  } */

  body {
    margin: 0;
    background-color: #f7f7f9;
    height: auto;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* main {
    max-width: 480px;
    margin: auto;
  } */

  .dmenu {
    display: none;
  }

  .home {
    background-color: #fff;
    width: 100%;
    height: 718px;
    border-bottom-left-radius: 10%;
  }

  .toolbar {
    width: 100%;
    display: flex;
    padding-left: 3%;
    padding-bottom: 0;
  }

  .menu {
    display: flex;
    align-items: flex-end;
    padding-left: 810%;
  }

  .headline {
    background: url("images2/header-shapes\ mobile@2x.svg") no-repeat;
    max-width: 100%;
    height: 587.15px;
    background-size: 99% 98%;
    background-position: 100%;
    margin-bottom: 0;
    padding-bottom: 110%;
    margin-top: 5%;
    margin-left: 0;
  }

  .hea {
    padding-top: 20%;
    padding-left: 6%;
    padding-right: 2%;
  }

  .heading {
    width: 90%;
    font-weight: 700;
    font-size: 300%;
    color: #172b4d;
    line-height: 110%;
  }

  .paragraph {
    font-family: "Poppins", sans-serif;
    width: 95%;
    font-weight: 400;
    font-size: 120%;
    line-height: 135%;
    padding-left: 6%;
    padding-right: 7%;
    padding-top: 5%;
    color: #344563;
  }

  .connect1 {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500.24;
    padding-left: 6%;
    padding-top: 3%;
    color: #7f8cff;
  }

  .contact1 {
    width: 100%;
    height: 3%;
    margin: 0;
    padding-left: 6%;
    padding-top: 1%;
    margin-top: 1%;
    display: inline-flex;
    align-items: baseline;
    list-style-type: none;
  }

  .twitter1 {
    width: 55%;
    color: #505f79;
  }

  .linkedin1 {
    width: 55%;
    color: #505f79;
  }

  .email1 {
    width: 55%;
    color: #505f79;
  }

  .github1 {
    width: 55%;
    color: #505f79;
  }

  .vector1 {
    width: 14.17px;
    height: 20px;
    padding-left: 20px;
    color: #505f79;
    transition: transform 500ms ease;
  }

}
